debug: true

spring:
  application:
    name: demo

  webflux:
    base-path: /api

  datasource:
    url: jdbc:sqlite:memdb?mode=memory&cache=shared

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration/sqlite

springdoc:
  api-docs:
    enabled: true

  swagger-ui:
    enabled: true

logging:
  level:
    root: debug

management:
  otlp:
    metrics:
      export:
        enabled: false
