debug: false

spring:
  application:
    name: demo

  webflux:
    base-path: /api

  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration/postgres

springdoc:
  api-docs:
    enabled: false

  swagger-ui:
    enabled: false

logging:
  level:
    root: info

management:
  otlp:
    metrics:
      export:
        enabled: true
        step: 30s
